---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { getCollection } from 'astro:content';
import ProjectExcerpt from '../components/ProjectExcerpt.astro';

const projects = await getCollection('projects');
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-slate-100 border-t-8 border-primary">
		<Header />
		<main>
			<div class="container mx-auto my-20 p-2">
				{projects.map((post) => <ProjectExcerpt {...post} />)}
			</div>
		</main>
		<Footer />
	</body>
</html>
