---
import Contact from './Contact.jsx';
---

<footer class="bg-gray-800 text-white">
	<div
		class="container px-4 mx-auto py-10 grid gap-8 grid-cols-1 md:grid-cols-contact items-center"
	>
		<div>
			<h1
				class="text-sans font-bold tracking-wide text-3xl mb-8"
				id="contact-me"
			>
				Got a question? Just want to say hi?
			</h1>
			<p class="flex items-center text-sans font-bold tracking-wide">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					width="32px"
					height="32px"
					fill="#01bfa6"
					class="mr-4"
					><path
						d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm16 3.38V6H4v1.38l8 4 8-4zm0 2.24l-7.55 3.77a1 1 0 0 1-.9 0L4 9.62V18h16V9.62z"
					></path>
				</svg>
				tim.veletta@gmail.com
			</p>
		</div>
		<Contact client:visible />
	</div>
</footer>
