---
import Contact from "./Contact.jsx";
---

<footer class="bg-gray-800 text-white">
  <div class="container px-4 mx-auto py-10 grid gap-8 grid-cols-1 items-right">
    <p class="opacity-80 text-sm">© 2025 Tim Veletta. All rights reserved.</p>
  </div>
</footer>
