---
export interface Props {
	value: number;
	goal: number;
	measure: string;
	rationale?: string;
}

const { value, goal, measure, rationale } = Astro.props;
---

<div class="bg-white border border-gray-300 rounded-lg shadow-sm flex flex-col">
	<div class="pt-4 px-4 mb-4 font-mono">
		<p class="inline text-5xl text-secondary">{value}</p>
		<p class="inline text-primary text-sm">/ {goal}</p>
	</div>
	<p class="px-4 text-sm font-bold text-gray-500 tracking-wide">
		{measure}
	</p>
	<div
		class="bg-gray-100 p-4 mt-4 rounded-b-lg border-t border-t-gray-300 grow"
	>
		<h4 class="font-bold text-gray-500">Rationale</h4>
		<p class="font-serif text-gray-700 leading-7">{rationale}</p>
	</div>
</div>
