---
import HeaderLink from './HeaderLink.astro';
import logo from '../images/logo.svg';
---

<header
	class="container mx-auto flex items-center justify-between flex-wrap mt-4 absolute z-10 left-1/2 transform -translate-x-1/2 px-4 md:px-0"
>
	<a class="flex items-center flex-shrink-0 mr-6">
		<img src={logo} alt="Tim Veletta Logo" style="width: 88px" />
	</a>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
</header>
