---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
	pathname.startsWith(href?.toString()) || href === pathname.replace(/\/$/, '');
---

<a
	href={href}
	class={`text-slate-800 dark:text-gray-100 md:block lg:inline-block md:mt-0 mr-6 p-2 border-b-4 hover:border-primary w-full md:w-auto hidden ${
		isActive && 'border-primary font-bold'
	} ${!isActive && 'border-transparent'}`}
	{...props}
>
	<slot />
</a>
