---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
	href={href}
	class="text-slate-800 md:block lg:inline-block md:mt-0 mr-6 p-2 border-b-4 border-transparent hover:border-primary w-full md:w-auto hidden"
	class:list={[className, { active: isActive }]}
	{...props}
>
	<slot />
</a>
