---
import { Image } from '@astrojs/image/components';
import developer from '../images/hero.png';
---

<div class="relative">
	<div class="isolate overflow-hidden">
		<svg
			class="absolute inset-0 -z-10 -mt-20 h-full w-full stroke-gray-300 [mask-image:radial-gradient(100%_100%_at_top_left,white,transparent)]"
			aria-hidden="true"
		>
			<defs>
				<pattern
					id="0787a7c5-978c-4f66-83c7-11c213f99cb7"
					width={150}
					height={150}
					x="50%"
					y={-10}
					patternUnits="userSpaceOnUse"
					class="hidden md:block"
				>
					<path d="M.5 200V.5H200" fill="none"></path>
				</pattern>
				<pattern
					id="7cf1a353-ef5b-4b73-ac38-f82fba22b527"
					width={80}
					height={80}
					x="50%"
					y={-10}
					patternUnits="userSpaceOnUse"
				>
					<path d="M.5 200V.5H200" fill="none"></path>
				</pattern>
			</defs>
			<rect
				width="100%"
				height="100%"
				stroke-width={0}
				class="md:fill-[url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)] fill-[url(#7cf1a353-ef5b-4b73-ac38-f82fba22b527)]"
			></rect>
		</svg>
		<div class="container px-4 mx-auto my-32 md:my-48 lg:my-64">
			<div>
				<h1
					class="font-sans lg:text-5xl sm:text-4xl text-2xl md:font-light tracking-wide text-slate-800 xl:mb-6 mb-2"
				>
					The full-stack developer
				</h1>
				<h2
					class="font-sans xl:text-9xl xl:max-w-6xl lg:max-w-4xl lg:text-8xl md:max-w-2xl sm:text-7xl sm:max-w-full text-[2.3rem] uppercase font-black tracking-wide text-slate-800"
				>
					That brings it all together
				</h2>
			</div>
			<hr class="h-4 w-20 my-12 bg-primary" />
			<a
				href="/projects"
				class="bg-primary text-white text-lg font-bold px-4 py-3 rounded hover:bg-opacity-75 mr-4"
			>
				My Work
			</a>
			<a
				href="/#contact-me"
				class="bg-transparent border border-primary text-primary text-lg font-bold px-4 py-3 rounded hover:bg-opacity-75"
			>
				Contact Me
			</a>
		</div>
	</div>
	<span
		class="absolute lg:top-48 md:top-32 top-32 right-0 lg:text-[12rem] md:text-[9rem] sm:text-9xl text-6xl uppercase font-bold text-primary opacity-[0.15] whitespace-nowrap overflow-visible leading-none text-right -z-10"
		>Frontend<br />Backend<br /> UI Design</span
	>
</div>
