---
import { Image } from "astro:assets";
import SocialLink from "./SocialLink.astro";
import github from "../images/github.svg";
import email from "../images/email.svg";
---

<div class="container px-4 mx-auto my-24">
  <div class="max-w-2xl">
    <h1
      class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl md:text-5xl leading-snug"
    >
      Tim Veletta
    </h1>
    <hr class="h-3 w-20 my-6 bg-primary border-none" />
    <h2 class="text-xl text-zinc-500 dark:text-zinc-400 leading-relaxed">
      I’m Tim, a software developer based in Perth, Australia. I am enthusiastic
      about creating simple, enjoyable and easy to use products and strive to
      find the right balance between aesthetic and function.
    </h2>
    <div class="flex mt-6">
      <SocialLink href="https://github.com/timveletta">
        <Image src={github} alt="Github logo" width={32} />
      </SocialLink>
      <SocialLink href="mailto:timothy.veletta@gmail.com">
        <Image src={email} alt="Email icon" width={32} />
      </SocialLink>
    </div>
  </div>
</div>
